header {
    background-color: hsl(265, 63%, 28%);
    
}

li {
    color: aliceblue;
    list-style: none;
    display: inline;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 4rem;
}